<!-- start custom head snippets -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
      <a class="navbar-brand" style="right:300px" href="{{ site.url }}{{ site.baseurl }}/">
          Visual Machines Group
      <!--<div style="border: 5px red solid; width:400px; height: padding:0px 0px 0px 0px; top:0px">
          <img style="height:50%; width:50%" class="img-responsive" src="./img/headerlogo1.svg" alt="Logo">
      </div>-->
      </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/people">People</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/joinus">Join Us</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/scientificmission">Scientific Mission</a></li>
          <li><a href="{{ site.url }}{{ site.baseurl }}/visit">Visit</a></li>
          <li><a href="https://vmgwiki.a2hosted.com/index.php/Main_Page" target="_blank">Internal</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
