<div class="page__footer-follow">
    <a href ="https://asuzukii.github.io/" style="display: inline-block;" style="width:100%;">
      <img src="{{site.baseurl}}/assets/images/vmgLogoFooter.svg" style="max-width:600px; max-height:400px; width: 100%; height: auto;transform: translateY(-20%);">
    </a>
    <div style="display: inline-block; padding-left: 20%;">
      <p style="margin-top: 1.5em; margin-bottom: 1.5em;">Get in Touch.</p>
      <a href="mailto:achuta@ucla.edu">achuta@ucla.edu</a>
    </div>
</div>
