/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$footer-background-color: #212529;